<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.iszhenyu.ifiji.dao.mapper.UserMapper">
    
    <!--<resultMap id="User" type="User">-->
        <!--<result property="deleted" column="is_deleted"/>-->
    <!--</resultMap>-->

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO sys_user
        (username, password_hash, password_salt, mobile_number, email, avatar_url, status, deleted, gmt_created, gmt_modified)
      VALUES
        (#{username}, #{passwordHash}, #{passwordSalt}, #{mobileNumber}, #{email}, #{avatarUrl}, #{status}, #{deleted}, #{gmtCreated}, #{gmtModified})
    </insert>

</mapper>